<div class="buttons">
    <button class="btn btn-light" (click)="showusers()">See Users</button>
</div>
<div class="flex_card">
    <!-- {{ showusers() }} -->
   <div class="card" *ngFor="let user of users; let i = index">
       
      <div class="images"><img src="{{user.avatar_url}}" alt="{{ user.login }}" width="100%" height="150px"> </div>
     <div class="row">
     <div class="col">
         <div class="users">Name: {{ user.login }}</div>
         <div class="users">Id: {{ user.id }}</div>
     </div>
     <div class="col">
         <div class="public_repo">Public Repo: {{ user.public_repos }}</div>
         <div class="private_repo">Public Gists: {{ user.public_gists }}</div>
     </div>
     </div>
   </div>
</div>
