<div class="info">Search github users</div>
<div class="formcards card">
    <form action="" #forms="ngForm">
        <input type="text" [(ngModel)]="username" #inputs="ngModel" name="username" id="username" placeholder="Enter github username">
        <input type="submit" value="Submit" (click)="sendusername()" name="submit" id="submits">
    </form>
</div>
<div class="result card" *ngIf="users">
    <img src="{{ users.avatar_url }}" alt="" width="100%" height="200px">
    <div class="card-body">
        <div class="login"> {{ users.login }} {{ users.name }} </div>
    
    <div class="flex_cards">
        <div class="repos"> Date Created: {{ users.created_at | date: 'short' }} </div>
        <div class="repos"> Public Repo: {{ users.public_repos }} </div>
    </div>
   <div class="flex_cards">
       <div class="follow"> Followers: {{ users.followers }} </div>
       <div class="follow"> Following: {{users.following }} </div>
   </div>
    </div>
</div>
