.formcards{
    width: 60%;
    margin: auto;
    text-align: center;
    padding: 40px;
}
#username{
    height: 40px;
    /* width: 500px; */
    width: 60%;
    padding-left: 20px;
    outline: none;
    border: 1px solid gainsboro;
}
#submits{
    width: 150px;
    color: #FFFFFF;
    height: 40px;
    border: 1px solid gainsboro;
}
.flex_cards{
    display: flex;
    justify-content: space-between;
}
.result{
    width: 500px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}
.info{
    font-size: 20px;
    text-align: center;
    padding: 15px;
}